<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/style.css">
    <!-- 
        mit dem / sind wir in public!!!! 
        kein navigieren zwischen view & public
    -->
</head>

<body>
    <h1>Hallo from express.js</h1>
    <a href="/about">About</a>
    <img src="/assets/img/866-200x300.jpg" alt="">
</body>

</html>